body {
  background-color: #e6fffd;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #aee2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.5s;
  padding: 16px;
  border-radius: 12px;
}
.flipped {
  transform: rotateY(180deg);
  background-color: #b799fe;
}